#root {
  display: flex;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 300px;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

